#################################################
# PERFIL SPRING
#################################################
SPRING_PROFILES_ACTIVE=cloud

#################################################
# AWS S3
#################################################
AWS_ACCESS_KEY_ID=REEMPLAZAR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=REEMPLAZAR_SECRET_KEY
AWS_SESSION_TOKEN=REEMPLAZAR_SESSION_TOKEN
AWS_REGION=us-east-1
AWS_S3_BUCKET=inscripcionesclouds4

#################################################
# RABBITMQ
#################################################
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guias
RABBITMQ_PASSWORD=guias123

#################################################
# H2
#################################################
H2_URL=jdbc:h2:file:/app/data/guiasdb;AUTO_SERVER=TRUE

#################################################
# PUERTOS
#################################################
PRODUCTOR_PORT=8080
CONSUMIDOR_PORT=8081

#################################################
# AZURE AD B2C
#################################################
AZURE_TENANT_NAME=cloudnatives4matias
AZURE_POLICY=B2C_1_signupsignin

AZURE_API_CLIENT_ID=REEMPLAZAR_CLIENT_ID_GUIA_API
AZURE_POSTMAN_CLIENT_ID=REEMPLAZAR_CLIENT_ID_POSTMAN

#################################################
# JWT
#################################################
AZURE_SCOPE=guias.readwrite
AZURE_ROLE_CLAIM=extension_guiaRole
